.playlist-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    @media only screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}
.playlist-card{
    color: black;

    & img{
        width: 100%;
        margin-bottom: .5rem;
    }

    & .title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

}